<% const isCompleted = todo.completed; %>
<li class="todo-item" id="todo-<%= todo.id %>">
    <label class="todo-label <%= isCompleted ? 'completed' : '' %>">
        <% if (isCompleted) { %>
        <input
            type="checkbox"
            hx-patch="/todos/<%= todo.id %>/toggle"
            hx-target="#todo-<%= todo.id %>"
            hx-swap="outerHTML"
            checked
        />
        <% } else { %>
        <input
            type="checkbox"
            hx-patch="/todos/<%= todo.id %>/toggle"
            hx-target="#todo-<%= todo.id %>"
            hx-swap="outerHTML"
        />
        <% } %>
        <span
            hx-get="/todos/<%= todo.id %>/edit"
            hx-target="#todo-<%= todo.id %>"
            hx-swap="outerHTML"
            title="Click to edit text"
        >
            <%= todo.title %>
        </span>
    </label>
    <button
        hx-delete="/todos/<%= todo.id %>"
        hx-target="#todo-<%= todo.id %>"
        hx-swap="outerHTML"
        class="delete-btn"
    >
        Delete
    </button>
</li>
